.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body{
  font-family: 'Lilita One', cursive;
}

.nav-link{
  color: black;
}

.navbar-brand{
  color: black;
}
.flex-container{
  display: flex;
  font-size: 15px;
  justify-content: space-evenly;
  padding: 5px;
}

.price{
  font-size: 20px;
}

.invalid{
  padding: 10px;
  margin-top: 10px;
}

.navbar-collapse{
  display: flex;
  justify-content: space-evenly;
}

.name{
  font-size: 30px;
}

.nav-container{
  background-color: #EE3A43;
}

.item-card{
  border: 1px solid black;
}

.sub-total{
  margin-left: 700px;
  margin-top: 300px;
}
.signup{
  padding: 10px;  
  width:400px;
  margin-left: 500px;
  background-color: black;
  border-radius: 10px;
}
.signInDetails{
  padding: 20px;
}



.admin-image{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.userAndAdmin{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 600px;
}